<ul>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/search']">Search</a>
    </li>
    <li>
        <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
    </li>
    <li>
        <a [routerLink]="['/about']">About</a>
    </li>
    <li>
        <a [routerLink]="['/contact']">Contact</a>
    </li>
    <li>
        <a [routerLink]="['/not-found']">Not found (404)</a>
    </li>
    <li>
        <a [routerLink]="['/flight-list']">Flight list</a>
    </li>
    <li>
        <a [routerLink]="['/flight-details']">Flight details</a>
    </li>
    <li>
        <a [routerLink]="['/trip-review']">Trip review</a>
    </li>
    <li>
        <a [routerLink]="['/success']">Success</a>
    </li>
    <li>
        <a [routerLink]="['/travelers-form']">Travelers form</a>
    </li>
</ul>