/**
 * Global layout
 * ----------------------
*/
$section-gap: 25px;


/**
 * Colors
 * ----------------------
*/
$primary: #1F26BB;
$secondary1: #FD9800;

$dark-neutral1: #20202F;
$dark-neutral2: #383959;
$dark-neutral3: #5B5C72;

$mid-neutral1: #9495AB;
$mid-neutral2: #BFC0D1;
$mid-neutral3: #D6D7E3;

$light-neutral2: #f1f2f5;