<h1>Travelers information</h1>

<h2>Passenger 1</h2>

<form class="form-one-way">
  <mat-form-field class="example-full-width">
    <mat-label>First name</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last name</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Birth date</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Gender</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

</form>

<footer>
  <p>Total</p>
  <div>
    Price
    <span>FCFA</span>
  </div>


  <button mat-raised-button color="primary">Primary</button>
</footer>

<!-- 
<div class="page">
  <div matCardTitle>Travelers Information</div>
  
  <mat-accordion displayMode="flat">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Adult 1*</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="birthDatepicker" readonly (click)="birthDatepicker.open()"
          [max]="maxAdultDate">
        <mat-datepicker-toggle matSuffix [for]="birthDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #birthDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Adult 2*</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="birthDatepicker" readonly (click)="birthDatepicker.open()"
          [max]="maxAdultDate">
        <mat-datepicker-toggle matSuffix [for]="birthDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #birthDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Child 1*</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="birthDatepicker" readonly (click)="birthDatepicker.open()"
          [max]="maxChildDate">
        <mat-datepicker-toggle matSuffix [for]="birthDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #birthDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Booking contact</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-expansion-panel>

  <footer class="footer">
    <button mat-button color="primary" [routerLink]="['/success']">Book flight</button>
    <button mat-flat-button color="primary" [routerLink]="['/success']">Buy ticket</button>
  </footer>
</div> -->