<mat-tab-group>
  <mat-tab label="One way">

    <form class="form-one-way">
      <mat-form-field appearance="fill">
        <app-icon class="tch-button__icon" name="map"></app-icon>
        <mat-label>Flying from</mat-label>
        <mat-select>
          <mat-option value="one">Maroua</mat-option>
          <mat-option value="one">Garoua</mat-option>
          <mat-option value="one">Ngaoundere</mat-option>
          <mat-option value="one">Douala</mat-option>
          <mat-option value="two">Yaounde</mat-option>
          <mat-option value="two">Bafoussam</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <app-icon class="tch-button__icon" name="map"></app-icon>
        <mat-label>Flying to</mat-label>
        <mat-select>
          <mat-option value="one">Maroua</mat-option>
          <mat-option value="one">Garoua</mat-option>
          <mat-option value="one">Ngaoundere</mat-option>
          <mat-option value="one">Douala</mat-option>
          <mat-option value="two">Yaounde</mat-option>
          <mat-option value="two">Bafoussam</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <app-icon class="tch-button__icon" name="date"></app-icon>
        <mat-label>Departure date</mat-label>
        <input matInput [matDatepicker]="departurePicker1" readonly formControlName="departureDate"
          (click)="departurePicker1.open()" [min]="today">
        <mat-datepicker #departurePicker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <app-icon class="tch-button__icon" name="user"></app-icon>
        <mat-label>Number of passengers</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <app-icon class="tch-button__icon" name="briefcase"></app-icon>
        <mat-label>Class</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>

      <footer>
        <button class="tch-button tch-button-icon tch-full-width">
          <span class="tch-button__label">See results</span>

          <app-icon class="tch-button__icon" name="arrow-right"></app-icon>
        </button>
      </footer>

    </form>
  </mat-tab>

  <mat-tab label="Round trip">

    <form class="form-round-trip">
      <mat-form-field appearance="fill">
        <app-icon class="tch-button__icon" name="map"></app-icon>
        <mat-label>Flying from</mat-label>
        <mat-select>
          <mat-option value="one">Maroua</mat-option>
          <mat-option value="one">Garoua</mat-option>
          <mat-option value="one">Ngaoundere</mat-option>
          <mat-option value="one">Douala</mat-option>
          <mat-option value="two">Yaounde</mat-option>
          <mat-option value="two">Bafoussam</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <app-icon class="tch-button__icon" name="map"></app-icon>
        <mat-label>Flying to</mat-label>
        <mat-select>
          <mat-option value="one">Maroua</mat-option>
          <mat-option value="one">Garoua</mat-option>
          <mat-option value="one">Ngaoundere</mat-option>
          <mat-option value="one">Douala</mat-option>
          <mat-option value="two">Yaounde</mat-option>
          <mat-option value="two">Bafoussam</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <app-icon class="tch-button__icon" name="date"></app-icon>
        <mat-label>Departure date</mat-label>
        <input matInput [matDatepicker]="departurePicker1" readonly formControlName="departureDate"
          (click)="departurePicker1.open()" [min]="today">
        <mat-datepicker #departurePicker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <app-icon class="tch-button__icon" name="date"></app-icon>
        <mat-label>Departure date</mat-label>
        <input matInput [matDatepicker]="arrivalPicker" readonly formControlName="departureDate"
          (click)="arrivalPicker.open()" [min]="today">
        <mat-datepicker #arrivalPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <app-icon class="tch-button__icon" name="user"></app-icon>
        <mat-label>Number of passengers</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <app-icon class="tch-button__icon" name="briefcase"></app-icon>
        <mat-label>Class</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>

      <footer>
        <button class="tch-button tch-button-icon tch-full-width">
          <span class="tch-button__label">See results</span>

          <app-icon class="tch-button__icon" name="arrow-right"></app-icon>
        </button>
      </footer>
    </form>
  </mat-tab>
</mat-tab-group>







<!-- <mat-tab-group class="tabs">
  <mat-tab label="One Way"><ng-template [ngTemplateOutlet]="search"
      [ngTemplateOutletContext]="{isReturn: false}"></ng-template></mat-tab>
  <mat-tab label="Round Trip"><ng-template [ngTemplateOutlet]="search"
      [ngTemplateOutletContext]="{isReturn: true}"></ng-template></mat-tab>
</mat-tab-group>

<div class="search-button">
  <button mat-raised-button color="primary"><mat-icon>search</mat-icon>search flights </button>
</div> -->





<!-- 
<ng-template #search let-isReturn="isReturn">
  <div class="search-template">
    <mat-form-field>
      <mat-label><mat-icon>flight_takeoff</mat-icon> Flying from</mat-label>
      <mat-select>
        <input type="text" autocomplete="off">
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label><mat-icon>flight_land</mat-icon> Flying to</mat-label>
      <mat-select>
        <input type="text" autocomplete="off">
      </mat-select>
    </mat-form-field>
    
    
    <mat-expansion-panel #passengerPanel>
      <mat-expansion-panel-header>
        <mat-panel-description>
          <span class="summary-item">{{flightSearchForm.get('totalPassengerCount')?.value }}</span>
          <span class="summary-item">{{ flightSearchForm.get('totalPassengerCount')?.value! > 1 ? 'Passengers' :
            'Passenger'}}</span>
          <span class="summary-item">{{flightSearchForm.get('seatClass')?.value}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="passenger-details">
        <div class="age-details">
          <div class="text-wrap" matTooltip="Adult">Adulte</div>
          <div class="text-wrap" mat-card-subtitle matTooltip="12+ years">12 ans et plus </div>
        </div>
        <div class="count-container">
          <button mat-icon-button type="button" (click)="handleAdultCountChange(false)">
            <mat-icon>do_not_disturb_on</mat-icon>
          </button>
          <span>{{flightSearchForm.get('adultCount')?.value}}</span>
          <button mat-icon-button type="button" (click)="handleAdultCountChange(true)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
      <div class="passenger-details">
        <div class="age-details">
          <div class="text-wrap" matTooltip="Child">Enfant</div>
          <div class="text-wrap" mat-card-subtitle matTooltip="2-11 years">2 à 11 ans</div>
        </div>
        <div class="count-container">
          <button mat-icon-button type="button" (click)="handleChildCountChange(false)">
            <mat-icon>do_not_disturb_on</mat-icon>
          </button>
          <span>{{flightSearchForm.get('childCount')?.value}}</span>
          <button mat-icon-button type="button" (click)="handleChildCountChange(true)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
      <div class="passenger-details">
        <div class="age-details">
          <div class="text-wrap" matTooltip="Infant">Bébé</div>
          <div class="text-wrap" mat-card-subtitle matTooltip="0-1 years">0 à 1 an</div>
        </div>
        <div class="count-container">
          <button mat-icon-button type="button" (click)="handleInfantCountChange(false)">
            <mat-icon>do_not_disturb_on</mat-icon>
          </button>
          <span>{{flightSearchForm.get('infantCount')?.value}}</span>
          <button mat-icon-button type="button" (click)="handleInfantCountChange(true)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
      <mat-action-row>
        <button mat-button type="button" color="primary" (click)="passengerPanel.close(); updateTotalPassengerCount()">
          Confirmer
          <mat-icon class="green">check</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-form-field>
      <mat-label><mat-icon>flight_class</mat-icon>Class</mat-label>
      <mat-select formControlName="seatClass">
        <mat-option value="Business">Business</mat-option>
        <mat-option value="Economy">Economy</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template> -->