/* You can add global styles to this file, and also import other style files */

@import './assets/css/typography';
@import './assets/css/variables';
@import './assets/css/mixins';
@import './assets/css/overrides/material-ui-forms';
@import './assets/css/custom/forms';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: $dark-neutral3;
}
* {
  box-sizing: border-box;
}







// *.flex {
//   display: flex;

//   &__jcc {
//     justify-content: center;
//   }

//   &__align-center {
//     align-items: center;
//   }

//   &__column {
//     flex-direction: column;
//   }

//   &__jcsb {
//     justify-content: space-between;
//   }

//   &__jcse {
//     justify-content: space-evenly;
//   }

//   &__jcsa {
//     justify-content: space-around;
//   }

//   &__gap-1 {
//     gap: 1rem;
//   }

//   &__gap-2 {
//     gap: 2rem;
//   }
// }

.container {
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 2em;
}

.plane {
  transform: rotate(90deg);
}

.price {
  color: orange;
  font-size: large;
}

.currency-name {
  color: grey;
  font-size: small;
}

.font-grey {
  color: grey;
}
